@font-face {
    font-family: Sansation;
    src: url(../font/Sansation-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: url("../img/ap-ui.jpg");
    background-size: contain;
}

body {
    background: rgba(182, 182, 182, 0.699);
}

.container {
    width: 1000px;
}

.border {
    border: 2px solid rgba(102, 101, 101, 0.5);
}

.border-bot {
    border-bottom: 1px solid rgba(102, 101, 101, 0.5);
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.c-b {
    clear: both;
}

.m-0-a {
    margin: 0 auto;
}

.w-15 {
    width: 15%;
}

.w-25 {
    width: 25%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-33 {
    width: 33.333%;
}
.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}


.w-60 {
    width: 60%;
}
.w-100 {
    width: 100%;
}

.h-60 {
    height: 60px;
}

.h-490 {
    height: 488px;
}

.h-550 {
    height: 550px;
}

.h-100 {
    height: 100%;
}

nav {
    position: fixed;
    width: 1000px;
    background: rgba(226, 221, 221, 0.171);
}

nav:hover {
    background: rgba(100, 100, 100, 0.705)
}

.logo>h3 {
    font-family: Sansation;
    font-size: 24px;
    width: 60px;
    height: 20px;
    margin: 20px 30px;
}

.navigation li {
    font-family: Sansation;
    font-size: 20px;
    margin: 20px 30px;
}

.follow-us ul {
    width: 91px;
    margin: 15px auto;
}

.white-char {
    color: white;
}

.red-char {
    color: red;
}

.fa {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

a:hover, 
i:hover {
    color:#79ebff;
}

.logo>h3:hover{
    font-size: 26pt;
    margin: 15px 20px;
}

.baner-text {
    height: 210px;
}

.baner {
    padding-top: 180px;
}

h1 {
    font-family: Sansation;
    font-size: 40px;
    width: 390px;
    height: 65px;
    margin: 30px auto 10px;
    color: white;
}

.baner-text>p {
    font-family: Sansation;
    font-size: 10pt;
    color: white;
    margin: auto;
    text-align: center;
}

.button {
    height: 35px;
    width: 110px;
    margin: 30px auto 0;
}

.button input {
    font-family: Sansation;
    font-size: 15px;
    color: white;
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: none;

}

.button input:hover {
    color: #408e9c;
    border: 2px solid #408e9c;
    border-radius: 5px;
    cursor: pointer;
}

.writer {
    background: url("../img/write-593333_1920.jpg");
    background-size: contain;
}

.h-430 {
    height: 430px;
} 

.about-us-text {
    padding-top: 40px;
    box-sizing: border-box;
    background: white;
}

.about-us-text>h2 {
    font-family: Sansation;
    font-size: 24px;
    color: black;
    width: 300px;
    margin-left: 40px;
}

.about-us-text>p {
    font-family: Sansation;
    font-size: 12px;
    color: black;
    width: 390px;
    margin: 15px 0 15px 40px;
}

.right-line-big {
    height: 5px;
    width: 390px;
    margin: 0 0 30px 40px;
    border-bottom: 1px solid rgba(82, 79, 79, 0.5);
}

.right-line-small {
    height: 5px;
    width: 50px;
    border-bottom: 3px solid rgba(68, 68, 68, 0.651);
}

.read-more input {
    font-family: Sansation;
    font-size: 15px;
    color: white;
    background: #408e9c;
    border: 2px solid #408e9c;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    width: 170px;
    margin:40px 0 0 40px;
}

.read-more input:hover {
    color: #408e9c;
    border: 2px solid #408e9c;
    background: white ;
    border-radius: 5px;
    cursor: pointer;
}

#services {
    background: rgb(66, 66, 66);
    height: 690px;
    box-sizing: border-box;
    padding-top: 50px;
} 

.head-lines>h2 {
    font-family: Sansation;
    font-size: 40px;
    color: white;
    width: 300px;
    text-align: center;
}

.head-lines>.left-line-big {
    height: 5px;
    width: 300px;
    margin: 30px 3px 30px 40px;
    border-bottom: 1px solid white;
}

.left-line-big>.left-line-small {
    height: 5px;
    width: 50px;
    border-bottom: 3px solid white;
}

.head-lines>.right-line-big {
    height: 5px;
    width: 300px;
    margin: 30px 40px 30px 3px;
    border-bottom: 1px solid white;
}

.head-lines>.right-line-big>.right-line-small {
    height: 5px;
    width: 50px;
    border-bottom: 3px solid white;
}

.our-services {
    margin-top: 90px;
}

.our-services>div {
    background: rgba(121, 121, 121, 0.473);
}

.our-services>div:hover {
    background: #408e9c;
}

.our-services img {
    margin: 120px 0 0 95px ;
}

.our-services h2 {
    font-family: Sansation;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 10px;
}

.our-services p {
    width: 80%;
    margin: 0 auto;
    font-family: Sansation;
    font-size: 14px;
    color: white;
    text-align: center;
}

.more-det {
    display: flex;
    justify-content: center;
}

.our-services input {
    width: 150px;
    margin-top: 20px;
    font-family: Sansation;
    font-size: 18px;
    color: white;
    text-align: center;
    background: rgba(167, 167, 167, 0.658);
    border: 2px solid rgba(167, 167, 167, 0.658);
    padding: 10px;
    border-radius: 5px;
}

.our-services input:hover {
    background: white;
    color: rgb(66, 66, 66);
    border: 2px solid rgb(66, 66, 66);
    cursor: pointer;
}

#feedback {
    height: 420px;
    padding-top: 50px;
    background: rgb(66, 66, 66);
    box-sizing: border-box;
}

.feedbacks {
    background: rgba(121, 121, 121, 0.473);
    box-sizing: border-box;
    margin-top: 90px;
}

.h-280 {
    height: 280px;
}

.text p {
    font-family: Sansation;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.models {
    box-sizing: border-box;  
}

.name1 {
    background: url("../img/Model-1.jpg") no-repeat;
    background-size: contain;
}

.name2 {
    background: url("../img/model-2.jpg") no-repeat;
    background-size: contain;
}

.name3 {
    background: url("../img/model-3.jpg") no-repeat;
    background-size: contain;
}

.pos {
    margin: 40px 15px;
    height: 200px;
    width: 219px;
}

.num, .name {
    background: white;
}

.num {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding-top: 10px;
    margin: 155px 3px 3px;
}

.name {
    height: 40px;
    box-sizing: border-box;
    margin: 155px 3px 3px;
    padding-left: 5px;
}

.num h3, .name h3 {
    font-family: Sansation;
    font-size: 16px;
    color: black;

}

.h-150 {
    height: 150px;
}

.h-210 {
    height: 210px;
}


.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.w-40 {
    width: 40%;
}

.w-260 {
    width: 260px;
}

#clients h2 {
    color: rgb(66, 66, 66);
}

#clients .left-line-big,
#clients .left-line-small,
#clients .right-line-big,
#clients .right-line-small {
    border-color: rgb(66, 66, 66);
}

#clients {
    height: 530px;
    padding-top: 50px;
    box-sizing: border-box;
    background: white;
}

.content {
    margin-top: 80px;
}

.row {
    margin: 50px 0 50px;
}

.icons img {
    width: 200px;
    margin: 30px 25px;
}

.row-2 .icons {
    padding-left: 25px;
    box-sizing: border-box;

}
.row-2 .icons img {
    width: 120px;
    margin: 30px 25px;
}

.quote {
    background: #408e9c;
    box-sizing: border-box;
    padding: 20px 30px;
}
.text-block h2 {
    font-family: Sansation;
    font-size: 30px;
    color: white;
    margin: 15px 0 15px;
}

.text-block p {
    font-family: Sansation;
    font-size: 14px;
    color: white;
    margin: 15px 0 15px;
}

.datablock input {
    font-family: Sansation;
    font-size: 14px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 15px 10px;
}

.datablock {
    padding: 40px 80px;
    box-sizing: border-box;
}

#cet-call {
    color: white;
    background: #408e9c;
}

#cet-call:hover {
    background: white;
    color: #408e9c;
    border-color: #408e9c;
    cursor: pointer;
}

footer {
    background: rgb(66, 66, 66);
}

.info, .subscribe{
    box-sizing: border-box;
    padding: 30px 40px 30px 40px;
}

.info h3 {
    font-family: Sansation;
    font-size: 15px;
    color: white;
}

.info li {
    font-family: Sansation;
    font-size: 13px;
    color: white;
    display: block;
    margin-top: 15px;
}

.edit-block-sub input {
    font-family: Sansation;
    font-size: 15px;
    color: rgb(66, 66, 66);
    background: white;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid white;
}

.edit-block-sub {
    margin-top: 20px;
}

#subs {
    color:white;
    background: #408e9c;
    font-size: 15px;
    padding: 15px 10px;
    
}

#subs:hover {
    color:#408e9c;
    background: white;
    border-color: #408e9c;
    cursor: pointer;
}

.follow-as {
    width: 91px;
    margin: 20px 86px;
}



